.item{
/* margin: auto; */
font-family: inherit;
/* display: inline; */
width: 20rem;
height: auto;
margin:  auto;
padding: 1rem;
background-color: rgb(195, 144, 243);
/* object-fit: contain; */
}
.item>h3{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* @media screen and (max-width : 500px) {
    .item{
        display: flex;
        flex-direction: row;
    }
} */