.item{
font-family: inherit;
width: 20rem;
height: auto;
margin: 1rem auto;
padding: 1rem;
background-color: rgb(195, 144, 243);

}
.item>h3{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

